name: test-paths

on: workflow_dispatch

jobs:
    format-checking:
        runs-on: ubuntu-latest
        env:
            PATH: "${PATH}:${HOME}/.local/bin"

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
            - name: print info
              run: |
                  echo "$PATH"
                  ls "$HOME"
                  echo "$HOME"
                  echo ${{ github.workspace }}
                  echo "$PATH"

            - name: install stuff
              run: |
                  python3 -m pip install virtualenv --progress-bar off --user
                  python3 -m pip install signac --progress-bar off 
            - name: attempt to run things
              run: |
                  python3 -m virtualenv ./test-env
                  virtualenv ./test-env-2
                  signac
