name: test-paths

on: workflow_dispatch

jobs:
    test-installations:
        runs-on: ubuntu-latest
        container:
            image: glotzerlab/software:beta-nompi
            # Necessary to have proper permissions for the following steps
            options: --user 1001
        steps:
            - name: extend path
              run : echo "$HOME/.local/bin" >> $GITHUB_PATH
            - uses: actions/checkout@v2
            - name: install stuff
              run: |
                  python3 -m pip install virtualenv --progress-bar off --user -U
            - name: attempt to run things
              run: |
                  python3 -m venv "${HOME}/test-env"
                  . "${HOME}/test-env/bin/activate"
            - name: see if I am in the correct virtual env
              run: |
                  . "${HOME}/test-env/bin/activate"
                  echo $PATH
                  which python
                  python -m pip install networkx
                  python -c 'import networkx; print(f"networkx {networkx.__version__}")'
            - name: print directory structure
              run: |
                  ls $HOME
                  ls ${{ github.workspace }}/..
                  ls ${{ github.workspace }}
