name: test-paths

on: [push, workflow_dispatch]

jobs:
    test-installations:
        runs-on: ubuntu-latest
        container:
            image: glotzerlab/software:beta-nompi
            # Necessary to have proper permissions for the following steps
            options: --user 1001
        steps:
            - name: attempt to run things
              run: python3 -m venv "${HOME}/test-env"
            - uses: actions/checkout@v2
              with:
                  path: main
            - name: check paths after checkout
              run: |
                ls $HOME
                ls /home/runner/work
                ls ${{ github.workspace }}/../..
                ls ${{ github.workspace }}/..
                ls ${{ github.workspace }}
            - name: see if I am in the correct virtual env
              run: |
                  . "${HOME}/test-env/bin/activate"
                  echo $PATH
                  which python
                  python -m pip install networkx
                  python -c 'import networkx; print(f"networkx {networkx.__version__}")'
            - name: print directory structure
              run: |
                  ls $HOME
                  ls ${{ github.workspace }}
                  ls ${{ github.workspace }}/main
